@import "menu";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base-sm leading-relaxed md:text-base-md lg:text-base;
  }
}

// common style
@layer components {
  b,
  strong {
    @apply font-semibold;
  }
  .container {
    @apply mx-auto px-4;
  }

  // section style
  .section {
    @apply py-16;
    &-title {
      @apply text-h3 capitalize;
      strong {
        @apply relative inline-block pr-16;
        &::before {
          content: "";
          @apply absolute right-0 top-1/2 w-12 border-t-2 border-black;
        }
      }
      &-center strong {
        @apply pr-0;
        &::before {
          @apply hidden;
        }
      }
    }
  }

  // button style
  .btn {
    @apply relative inline-block rounded-lg border-2 border-primary bg-white px-5 py-2 font-semibold;
    &::after,
    &::before {
      content: "";
      @apply absolute border-2 border-black bg-white;
      border-radius: 4px;
      height: 12px;
      width: 12px;
      top: calc(50% - 6px);
    }
    &::before {
      left: -7px;
    }
    &::after {
      right: -7px;
    }
  }

  // line link style
  .line-link {
    @apply relative;
    &::after {
      @apply absolute right-0 bottom-0 w-0 bg-black;
      transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
      content: "";
      height: 1px;
    }
    &:hover::after {
      @apply left-0 right-auto w-full;
    }
  }

  // post style
  .post-card {
    @apply relative rounded-xl border border-light transition duration-200 ease-out;
    &::after,
    &::before {
      content: "";
      @apply absolute -rotate-45 border border-light bg-white;
      transition: 0.1s;
      height: 18px;
      width: 18px;
      top: calc(50% - 9px);
    }
    &::before {
      left: -9px;
      @apply border-l-0 border-t-0;
      border-bottom-right-radius: 4px;
    }
    &::after {
      right: -9px;
      @apply border-r-0 border-b-0;
      border-top-left-radius: 4px;
    }
    &:hover {
      @apply border-dark;
      &::after,
      &::before {
        @apply border-dark bg-white;
      }
    }
  }

  // form style
  .form-inputs * {
    @apply mb-5 leading-10;
  }

  .social-icons {
    li {
      @apply mx-2 inline-block last:mr-0;
      a {
        @apply block h-9 w-9 rounded-full bg-primary text-center text-white;
        svg {
          @apply m-auto h-9;
        }
      }
    }
  }

  // content style
  .content {
    @apply prose max-w-none;
  }

  // image reveal
  .brand-item {
    // @apply relative;
    > img {
      @apply opacity-70 grayscale transition-all duration-200;
    }
    &:hover > img {
      @apply opacity-100;
    }
    .hover-reveal {
      @apply pointer-events-none fixed z-10 origin-center rounded-md opacity-0 drop-shadow-2xl;
      width: 400px;
      height: 250px;
      left: -200px;
      top: -125px;
    }
    .hover-reveal_inner,
    .hover-reveal_inner img {
      @apply h-full w-full;
    }
    .hover-reveal_inner img {
      @apply object-cover;
    }
  }
}
